<!-- 
เมษนี ลายเฮือง (แนน)
650510676
lab04 204212 sec001 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/open-iconic-bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Bootstrap Table -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css"
    />
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>

    
    <link rel="stylesheet" href="static/css/mytwitter.css" />
    <title>My Twitter</title>
  </head>

  <body>
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#"><span class="c"></span> Home</a>
          <a class="nav-item nav-link" href="{{ url_for('hw11_login') }}"
            ><span class="oi"></span> Login</a
          >
          <a class="nav-item nav-link" href="{{ url_for('hw11_signup') }}"
            ><span class="oi"></span> Sign Up</a
          >
          <a class="nav-item nav-link" href="#"
            ><span class="oi oi-envelope-open"></span> Messages</a
          >
        </div>
        <form class="form-inline">
          <input
            class="form-control"
            id="nav-search"
            type="search"
            placeholder="Search Twitter"
          />
          &nbsp;
          <img
            class="tw-user-small rounded-circle"
            src="static/img/tweeterUserSmall.jpg"
          />
          &nbsp;
          <button class="btn" id="nav-tweet-btn" type="submit">Tweet</button>
          <!-- <button class="btn" id="login" href="{{ url_for('hw11_login') }}">Login</button> -->
        </form>
      </div>
    </nav>

    <!-- 3 columns layout right below our navigation bar -->
    <div class="container">
      <div class="row">
        <div id="left_3" class="col-md-3">
          <div class="content-box">Account details</div>
          <div class="content-box">Trends</div>
        </div>

        <div id="center_6" class="col-md-6">
          <div class="content-box">
            <!-- ช่องที่เอาไว้เพิ่ม tweet ใหม่ -->
            <div class="new-tweet-row">
              <div class="row">
                <div class="col-md-2">
                  <img
                    src="static/img/tweeterUserSmall.jpg"
                    class="tw-user-small rounded-circle mx-auto d-block"
                  />
                </div>
                <div class="col-md-9">
                  <button id="newPost">Creat new post</button>
                  <form id="addTweetForm" class="formInput">
                    <!--ชื่อผู้ใช้ทวิต-->
                    <label for="name">Name</label>
                    <input
                      type="text"
                      id="tweet-input namePost"
                      class="form-control"
                      name="name"
                      placeholder="Type your name ..."
                      required
                    />
                    <!--email-->
                    <label for="email">Email</label>
                    <input
                      type="email"
                      id="tweet-input emailPost"
                      class="form-control"
                      name="email"
                      placeholder="Type your email ..."
                      required
                    />
                    <!--เนื้อหาทวิต-->
                    <label for="textare">Message</label>
                    <textarea
                      id="tweet-input messagePost"
                      class="form-control"
                      placeholder="Whats happening ..?"
                      name="message"
                      rows="5"
                      cols="30"
                      required
                    ></textarea>
                    <br />
                    <input type="hidden" id="entryid" name="id" value="" />
                    <input type="submit" id="sub" value="Submit" />
                    <button id="cancelPost">Cancel</button>
                  </form>
                  
                </div>
              </div>
            </div>

            <!-- ส่วนที่เอาไว้เพิ่มโพสต์ -->
            <div class="tweet">

            </div>
          </div>
        </div>

        <div id="right_3" class="col-md-3">
          <div class="content-box">Who to follow</div>
        </div>
      </div>
    </div>

    <script>
      
      $(document).ready(function () {
        $('#newPost').click(function(){
          clearForm();
          $('.formInput').show();
          $('.tweet').hide();
        })
        $('#cancelPost').click(function(){
          clearForm();
          $('.tweet').show();
          $('.formInput').hide();
          
        })
      
      });
        (function () {
          $.get("/hw10/blogEntries", (contacts)=>{
            //console.log(contacts);
            $.each(contacts, (index, value)=>{
              addPost(value)
            })
          });
        })();
      

      //func นี้จะสั่งให้ตารางโหลดเนื้อหาที่จัดเก็บไว้ในตัวแปร contact_data
      // refresh the table after a read update
      function addPost(contact_data) {
        const post_block = `<div class="row">
          <!-- ด้ายซ้าย รูปโปรไฟล์ผู้ใช้ของแต่ละทวิต -->
          <div class="col-md-2 text-center">
            <img
              class="tw-user-medium rounded-circle"
              src="static/img/tweeterUserSmall.jpg"
            />
          </div>

          <!-- ด้านขวา ข้อมูล tweet -->
          <div id="post-tweet" class="col-md-10" >
            <div class="row tweet-info">
              <!-- ชื่อผู้ใช้ทวิต -->
              <div class="col-md-auto">
                <span class="tweet-username" id="nameEdit">${contact_data.name}</span>
                <span class="tweet-usertag text-muted id="emailEdit">${contact_data.email}</span
                >
                </br>
                <span class="tweet-age text-muted">${contact_data.date_created}</span>
                
              </div>
              <!-- ลูกศร -->
              <div class="col tweet-arrow text-muted">
                <span class="oi oi-arrow-thick-bottom float-right"></span>
              </div>
            </div>
            
            <div class="tweet-text">
              
              ${contact_data.message}
            </div>
            
            <div class="row text-muted">
              <div class="col-md-2">
                <span class="oi oi-loop-circular"></span>
              </div>
              <div class="col-md-2">
                <span class="oi oi-heart"></span>
              </div>
              <div class="col-md-2">
                <span class="oi oi-envelope-open"></span>
              </div>
              <div class="col-md-2">
                <span><button id="edit" onclick="editPost(this)" dataContact='${JSON.stringify(contact_data)}' href="javascript:void(0)" title="Edit">
                  ✏️</button></span>
              </div>
              <div class="col-md-2">
                <span><button id="remove" onclick="removePost(this)" dataContact='${JSON.stringify(contact_data)}' href="javascript:void(0)" title="Remove">
                  🗑️</button></span>
              </div>
            </div>
          </div>
        </div>`;
        $(".tweet").html($(".tweet").html()+post_block);
      }

      function updatePost(contact_data) {
        const post_block = `<div class="row">
          <!-- ด้ายซ้าย รูปโปรไฟล์ผู้ใช้ของแต่ละทวิต -->
          <div class="col-md-2 text-center">
            <img
              class="tw-user-medium rounded-circle"
              src="static/img/tweeterUserSmall.jpg"
            />
          </div>

          <!-- ด้านขวา ข้อมูล tweet -->
          <div id="post-tweet" class="col-md-10" >
            <div class="row tweet-info">
              <!-- ชื่อผู้ใช้ทวิต -->
              <div class="col-md-auto">
                <span class="tweet-username" id="nameEdit">${contact_data.name}</span>
                <span class="tweet-usertag text-muted id="emailEdit">${contact_data.email}</span
                >
                </br>
                <span class="tweet-age text-muted">${contact_data.date_created}</span>
                </br>
                <span class="tweet-age text-muted">Update post when ${contact_data.date_updated}</span>
              </div>
              <!-- ลูกศร -->
              <div class="col tweet-arrow text-muted">
                <span class="oi oi-arrow-thick-bottom float-right"></span>
              </div>
            </div>
            
            <div class="tweet-text">
              
              ${contact_data.message}
            </div>
            
            <div class="row text-muted">
              <div class="col-md-2">
                <span class="oi oi-loop-circular"></span>
              </div>
              <div class="col-md-2">
                <span class="oi oi-heart"></span>
              </div>
              <div class="col-md-2">
                <span class="oi oi-envelope-open"></span>
              </div>
              <div class="col-md-2">
                <span><button id="edit" onclick="editPost(this)" dataContact='${JSON.stringify(contact_data)}' href="javascript:void(0)" title="Edit">
                  ✏️</button></span>
              </div>
              <div class="col-md-2">
                <span><button id="remove" onclick="removePost(this)" dataContact='${JSON.stringify(contact_data)}' href="javascript:void(0)" title="Remove">
                  🗑️</button></span>
              </div>
            </div>
          </div>
        </div>`;
        $(".tweet").html($(".tweet").html()+post_block);
      }

      

      $(".formInput").submit(function (event) {
        // prevent default html form submission action
        $('.formInput').hide();
        $('.tweet').show();
        

        event.preventDefault();
        // pack the inputs into a dictionary
        var formData = {};
        $(":input").each(function () {
          var key = $(this).attr("name");
          var val = $(this).val();
          if (key != "submit") {
            formData[key] = val;
          }
        });

        var $form = $(this);
        var url = $form.attr("action");
      
        //เอาข้อมูลจาก formData ส่งไปหลังบ้าน
        // make a POST call to the back end w/ a callback to refresh the table
        $.post(url, formData, function () {
          $(".tweet").html("")
          //console.log(formData)
          //ขอข้อมูลจากหลังบ้านส่งมาหน้าบ้าน
          $.get("/hw10/blogEntries", (contacts)=>{
            
            // Reverse the array
            contacts.reverse();
            $.each(contacts, (index, value)=>{
              if (value.date_updated == null){
                addPost(value)
              }
              else{
                updatePost(value)
              }
            })

          });
          clearForm();
        });
      });

      function clearForm() {
        $(".formInput")[0].reset();
        $("#entryid").val("");
      }


      function editPost(blog){
        const contact_data = JSON.parse(blog.getAttribute('dataContact'));
        document.getElementById('tweet-input namePost').value = contact_data.name;
        document.getElementById('tweet-input emailPost').value = contact_data.email;
        document.getElementById('tweet-input messagePost').value = contact_data.message;
        document.getElementById('entryid').value = contact_data.id;
        // Show the form
        //document.getElementById('addTweetForm').style.display = 'block';
        $('.formInput').show()
        $('.tweet').hide()
      };

      function removePost(blog){
        const contact_data = JSON.parse(blog.getAttribute('dataContact'));
        var url = "/hw10/remove_blogEntries";
        var formData = { id: contact_data.id };
        $.post(url, formData, function () {
          //$(".tweet").html("")
          //console.log(formData)
          //ขอข้อมูลจากหลังบ้านส่งมาหน้าบ้าน
          $.get("/hw10/blogEntries", (contacts)=>{
            //console.log(contacts);
            // Reverse the array
            contacts.reverse();
            $.each(contacts, (index, value)=>{
              addPost(value)
            })
          });
          location.reload();
          clearForm();
        });
      }
          
          
    </script>


    <script>
      document.addEventListener('DOMContentLoaded', () => {
  
  
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  
  
       // Add a click event on each of them
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {
  
  
           // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);
  
  
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
  
  
          });
        });
  
  
      });
    </script>
 



    <!-- Optional JavaScript -->
    
  </body>
</html>
